{
    "extends": ["airbnb-base"],
    "plugins": ["prettier"],
    "rules": {
        "no-console": "off",
        "no-plusplus": ["error", {
            "allowForLoopAfterthoughts": true
        }],
        "require-jsdoc": "off",
        "no-underscore-dangle": "off"
    }
}